*{
    margin:0;
    padding:0;
    border-spacing:border-box;
}
img{
    display:block;
    max-width: 25vw;
}
main{
    display:flex;
     gap: 2rem;
     flex-direction:column;
     align-items: center;
}
.buttons-container{
    display:flex;
    gap:1rem;
    flex:1;
}
button{
    padding:1rem;
}